beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
decorator==4.4.2
deep-translator==1.5.4
idna==3.2
imageio==2.9.0
imageio-ffmpeg==0.4.4
importlib-metadata==4.8.1
mariadb==1.0.7
moviepy==1.0.3
numpy==1.21.1
Pillow==8.3.1
proglog==0.1.9
pydub==0.25.1
requests==2.26.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
tqdm==4.62.0
typing-extensions==3.10.0.2
urllib3==1.26.6
zipp==3.5.0
